node_modules/
dist/
.next/
.env
.env.local
.git/
.turbo/
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/
packages/contracts/src/
packages/contracts/script/
packages/contracts/test/
packages/contracts/lib/
packages/frontend/
*.ptau
*.r1cs
*.sym
*.db
*.db-journal
*.db-shm
*.db-wal
